
/*====================FOR MAIN GAME FRAME==============*/
#main {
    width: 50%;
  margin: 0 auto;
}


/*==============FOR ???????===========*/
body {
    font-family: "Courier New", Courier, monospace;
    color: white;
    background-color: black;
    font-weight: bold;
}

#bar {
    background-color: brown;
    position:absolute;
    height: 2%;
    left: 0;
    right: 0;
}

#menu {
    margin: 0 auto;
}

#titlecard {
    text-align: center;
}

#userSubmit {
    background-color: black;
    border: none;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: medium;
}

#userSubmit:focus {
    outline:none;
}

/*===================FOR THE TRAIL===================*/
#trail-bg {
	width: 500px;
	height: 50px;
	position: relative;
	background: black;
}
#cart {
	width: 60px;
	width: 60px;
	height: 50px;
	bottom: 0;
	right: 0;
	position: absolute;
}

#grass{
	width: 500px;
	height:50px;
	position:relative;
	background: #4DBD33;
}

/*A obsticle object on the trail*/
#object{
	width: 40px;
	height: 25px;
	bottom: 0;
	left: 0;
	position: absolute;
}
/*#river{
	width: 40px;
	height: 20px;
	bottom: 0;
	left: 0;
	position: absolute;
}
#fort{
	width: 40px;
	height: 30px;
	bottom: 0;
	left: 0;
	position: absolute;
}
#rock{
	width: 40px;
	height: 40px;
	bottom: 0;
	left: 0;
	position: absolute;
}*/